<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JokesAPI</title>
    <link rel="stylesheet" href="/styles.css"> <!-- telling where to take CSS from (i use separate file for organisation reasons) -->
</head>
<body>
    <header>
        <h2 class="header-title">Jokes API<img src="/clown%20pepe.webp" class="clown-img"></h2>
        <h4 style="font-style:italic">SpringBoot edition</h4>
    </header>
    <main>
        <section class="get-joke-section"> <!--can use class for CSS later if I will want :) -->
            <form action="/" method="get">
                <input type="hidden" name="getJoke" value="returnedJoke">
                <button type="submit">Click me!</button>
            </form>
        </section>
        <section class="display-joke-section fieldset">
            <fieldset style="width: 500px; height: 250px;">
                <div th:if="${joke != null}">
                    <div class="joke-setup" th:text="${joke.joke}"></div>
                    <div class="divider"></div>
                    <div class="joke-punchline" th:text="${joke.punchline}"></div>
                </div>
                <div class="joke-buttons">
                    <button type="button" class="joke-btn accept-btn" title="Save to database">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#1cb537" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 11 17 4 11" />
                        </svg>
                    </button>
                    <button type="button" class="joke-btn reject-btn" title="Skip">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#de1b1b" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="18" y1="6" x2="6" y2="18" />
                            <line x1="6" y1="6" x2="18" y2="18" />
                        </svg>
                    </button>
                </div>
            </fieldset>
        </section>
        <section>
            <div style="display:none">
                <pre th:utext="${jokeJSON}"></pre>
            </div>
        </section>
    </main>
</body>
</html>