<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JokesAPI</title>
</head>
<body>
<h3>hello world :D</h3>
<h3>Observe: my first SpringBoot WEB App</h3>

<div>
    <form action="/" method="get">
        <button type="submit">click me!</button>
    </form>
    <fieldset style="width: 500px; height: 250px;">
        <div th:if="${joke != null}">
            <!--<p>Category: <b th:text="${joke.category}"></b></p> -->
            <p><b th:text="${joke.joke}"></b></p>
            <p><b th:text="${joke.punchline}"></b></p>
        </div>
        <div th:if="${joke == null}">
            <p>Oops! No joke available. Try reloading.</p>
        </div>
    </fieldset>
</div>

</body>
</html>